body {
                margin: 0;            
            }
            p,
            h5, 
            th,
            td,
            .navigation {
                font-family: 'Roboto', sans-serif;
            }
            .logo {
                font-family: 'Roboto', sans-serif;
                height: 54px;
                margin-left: 80px;
                color: rgb(105, 0, 0);
                margin-top: -8px;
            }
            .no-gutters {
                padding-left: 0;
                padding-right: 0;
            }
            .logo {
                font-family: 'Roboto', sans-serif;
                height: 45px;
                margin-left: 38px;
                color: rgb(105, 0, 0);
                margin-bottom: 10px;
            }
            a:hover {
                color: silver;
            }
            h1:hover {
                color: rgb(105, 0, 0, .8);
            }
            h5,
            th,
            .nav-link {
                color:  rgb(105, 0, 0);;
            }
            li {
                display: inline;
                list-style-type: none;
                margin-left: 20px;
            }
            .name {
                margin-top: 10px;
                margin-right: 30px;
            }
            .footer {
                margin-left: -60px;
                margin-top: 40px;
            }  
   
            .card-link {
                color: red;
            }
            .foto {
                margin-bottom: 30px;
            }
            .less {
                margin-right: 25px;
                margin-left: 35px;
            }
        @media screen and (min-width: 1200px) {
            .connection {
                height: 45px;
                background: rgb(105, 0, 0, .9);
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                padding-top: 5px;
            }
            .howwork {
                position: absolute;
                top: 38%;
                color: #f1f1f1;
                width: 100%;
                font-size: 30px;
            }
            .foto {
                margin-left: 350px;
            }
        }
        @media (min-width: 992px) and (max-width: 1199.99px) {
            .howwork {
                position: absolute;
                top: 38%;
                color: #f1f1f1;
                width: 100%;
                font-size: 30px;
            }
            .foto {
                margin-left: 250px;
            }
        } 
        @media (min-width: 768px) and (max-width: 991.99px) { 
            .howwork {
                position: absolute;
                top: 34%;
                color: #f1f1f1;
                width: 100%;
                font-size: 26px;
            }
            .linkhead {
                padding: 8px 8px;
                font-size: 14px;
                margin-left: -20px;
            }
            .foto {
                margin-left: 120px;
            }
        }
        @media (min-width: 576px) and (max-width: 767.99px) { 
            .howwork {
                position: absolute;
                top: 34%;
                color: #f1f1f1;
                width: 100%;
                font-size: 22px;
            }
            .linkhead {
                padding: 8px 8px;
                font-size: 12px;
                margin-left: -25px;
            } 
            .foto {
                margin-left: 70px;
            }          
        }
        @media (max-width: 575.98px) { 
            th,
            td {
                font-size: 12px;
            }
            .howwork {
                position: absolute;
                top: 14%;
                color: #f1f1f1;
                width: 100%;
                font-size: 20px;
            }
            .logo {
                margin-left: 14px;
                top: 16px;
            }
            .nav {
                display: block;
                font-size: 14px;
                text-align: center;
                margin-top: 25px;
            }
            .linkhead {
                margin-top: -25px;
                padding: 16px 8px;
                font-size: 12px;
                margin-left: -5px; 
            } 
            .foto {
                margin-left: 20px;
            }          
            .footer {
                margin-left: 0;
            }
            #pad {
                padding-right: 0;
            }
        }