
            body {
                margin: 0;            
            }
            p, .navigation {
                font-family: 'Roboto', sans-serif;
            }
            .no-gutters {
                padding-left: 0;
                padding-right: 0;
            }
            .logo {
                font-family: 'Roboto', sans-serif;
                height: 54px;
                margin-left: 52px;
                color: rgb(105, 0, 0);
                margin-top: -8px;
            }
            a:hover {
                color: silver;
            }
            h1:hover {
                color: rgb(105, 0, 0, .8);
            }
            .nav-link {
                color:  rgb(105, 0, 0);;
            }
            li {
                list-style-type: none;
                font-family: 'Roboto', sans-serif;
            }
            ul {
                margin-left: ;
            }
            .footer {
                margin-left: -60px;
                margin-top: 40px;
            }  
            #foot {
                display: inline;
                margin-left: 20px;
            }


            .map-responsive{
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
                height: 0;
            }
            .map-responsive iframe{
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
            .contacts {
                line-height: 2em;
                top: 50px;
            }
        @media screen and (min-width: 1200px) {
            .howwork {
                position: absolute;
                top: 38%;
                color: #f1f1f1;
                width: 100%;
                font-size: 30px;
            }
            }
        @media (min-width: 992px) and (max-width: 1199.99px) { 
            .howwork {
                position: absolute;
                top: 34%;
                color: #f1f1f1;
                width: 100%;
                font-size: 30px;
            }
        }
        @media (min-width: 768px) and (max-width: 991.99px) {
            .howwork {
                position: absolute;
                top: 30%;
                color: #f1f1f1;
                width: 100%;
                font-size: 28px;
            }
            .linkhead {
                padding: 8px 8px;
                font-size: 14px;
                margin-left: -6px;
            }
            .contacts {
                margin-right: 40px;
            }
        }
        @media (min-width: 576px) and (max-width: 767.99px) {
            .howwork {
                position: absolute;
                top: 24%;
                color: #f1f1f1;
                width: 100%;
                font-size: 26px;
            }
            .linkhead {
                padding: 8px 8px;
                font-size: 12px;
            }
            .contacts {
                margin-right: 40px;
            }
        }
        @media (max-width: 575.99px) {
            .howwork {
                position: absolute;
                top: 14%;
                color: #f1f1f1;
                width: 100%;
                font-size: 20px;
            }
            .logo {
                top: 16px;
            }
            .nav {
                display: block;
                font-size: 14px;
                text-align: center;
                margin-top: 25px;
            }
            .linkhead {
                margin-top: -25px;
                padding: 16px 8px;
                font-size: 12px;
                margin-left: -25px;
            }
            .gmaps {
                display: none;
            }
            .col-4 {
                margin-top: -20px;
                left: 40%;
                transform: translate(-50%, 0);
                font-size: 12px;
            }
            .footer {
                margin-top: 100px;
                margin-right: -25px;
            }
        }
